<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="universalCppBuilder"
         name="Universal FRC C++ Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="ucpp.builder.UniversalCppBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ucpp.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="builder.universalCppBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="builder.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="ucpp.builder.ToggleNatureAction"
               enablesFor="+"
               id="builder.addRemoveNatureAction"
               label="Mark as Universal FRC C++ Project"
               menubarPath="builder.menu1/additions">
         </action>
         <menu
               id="builder.menu1"
               label="Universal C++ for FRC">
         </menu>
         <action
               class="ucpp.builder.DeployToRobotAction"
               enablesFor="+"
               id="builder.deployToRobot"
               label="Deploy to robot"
               menubarPath="builder.menu1/additions">
         </action>
         <action
               class="ucpp.builder.InitializeAction"
               enablesFor="+"
               id="builder.init"
               label="Initialize Universal C++ for FRC..."
               menubarPath="builder.menu1/additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="builder.actionSet"
            label="FIRSTSet"
            visible="true">
         <menu
               id="FIRSTbar"
               label="FIRST">
            <groupMarker
                  name="stuff">
            </groupMarker>
         </menu>
         <action
               class="ucpp.builder.UndeployAction"
               id="builder.builder.UndeployAction"
               label="Undeploy"
               menubarPath="FIRSTbar/stuff"
               tooltip="Undeploy the code from the robot">
         </action>
         <action
               class="ucpp.builder.DeployAction"
               id="builder.builder.deployAction"
               label="Deploy"
               menubarPath="FIRSTbar/stuff"
               tooltip="Deploy the code from the robot">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ucpp.builder.UCppPreferences"
            id="ucpp.builder.UCppPreferences"
            name="FIRST Downloader Preferences (Universal C++)">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ucpp.builder.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
