
/plugins/.metadata
/plugins/builder/bin
/plugins/builder/.settings
/plugins/UcppLibs/.settings
/runtime-EclipseApplication

/plugins/FFTP/bin
/plugins/FFTP/.settings
/plugins/Universal C++ Update Site/content.jar
/plugins/Universal C++ Update Site/artifacts.jar
/plugins/Universal C++ Update Site/plugins
/plugins/Universal C++ Update Site/features

*~
